.button-default {
  width: 100%;
  height: 42px;

  background: #14e298;
  transition: 0.3s;

  border-radius: 3px;
  outline: none;

  color: #fff;

  text-align: center;
  font-weight: 500;
  font-size: 16px;
  line-height: 225%;

  letter-spacing: 0.0125em;
  border: none;
  border-radius: 3px;

  cursor: pointer;

  &:hover {
    background-color: #23f7ab;
    transition: 0.3s;
  }
}
