.register-page {
  min-height: calc(100vh - 55px);
  background-color: #f5f7fa;

  background-image: url("./img/background.svg");
  background-repeat: no-repeat;
  background-position: 0 100%;
  background-size: 100% auto;

  .title-default {
    margin-bottom: 17px;
  }

  .form-box {
    margin-top: 73px;
    padding-bottom: 96px;

    .input-text {
      margin-bottom: 30px;
    }
  }
}
