.title-default {
  font-size: 32px;

  display: flex;
  align-items: flex-end;
  text-align: center;
  line-height: 131%;
  letter-spacing: 0.0125em;
  color: #2d3a40;

  font-style: normal;
  font-weight: 500;
}
