.input-text {
  position: relative;

  .label {
    position: absolute;
    top: 50%;
    left: 15px;

    transform: translate(0, -50%);

    color: rgba(#2d3a40, 0.3);
    transition: 0.3s;

    transition: 0.3s;

    font-size: 16px;

    &.-active {
      background-color: #fff;
      font-size: 14px;

      letter-spacing: 0.0125em;
      color: #000;
      transition: 0.3s;

      top: 0;
      padding: 0 15px;
      left: 5px;
    }

    &.focused {
      color: rgba(45, 58, 64, 0.3);
    }
  }

  .field {
    background: #fff;

    border: 1px solid rgba(116, 130, 150, 0.2);
    box-sizing: border-box;
    border-radius: 3px;
    font-weight: normal;

    outline: none;

    width: 100%;
    height: 43px;

    padding: 15px 11px;
  }
}
