@import url("https://fonts.googleapis.com/css?family=Roboto:400,500&display=swap");

* {
  margin: 0;
  padding: 0;
  font-family: "Roboto";
}
@import "../node_modules/bootstrap/scss/bootstrap-grid.scss";

//HELPERS
.--align-center {
  justify-content: center;
}
